<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="script">

<script src="/user/template/classimix/plugins/jquery/jquery.min.js"></script>
<script src="/user/template/classimix/plugins/bootstrap/popper.min.js"></script>
<script src="/user/template/classimix/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/user/template/classimix/plugins/bootstrap/bootstrap-slider.js"></script>
<script src="/user/template/classimix/plugins/tether/js/tether.min.js"></script>
<script src="/user/template/classimix/plugins/raty/jquery.raty-fa.js"></script>
<script src="/user/template/classimix/plugins/slick/slick.min.js"></script>
<script src="/user/template/classimix/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="/user/template/classimix/plugins/google-map/map.js" defer></script>

<script src="/user/template/classimix/js/script.js"></script>
	
</th:block>