<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

<body>

	<div th:replace="~{xdm/include/header :: header}"></div>
	<div th:replace="~{xdm/include/sidebar :: sidebar}"></div>

	



	<div th:replace="~{xdm/include/footer :: footer}"></div>


	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<div th:replace="~{xdm/include/script :: script}"></div>

	 <script type="text/javascript">
  
  
 
   
  	
  </script>

</body>



</html>