<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a5a5lab.module.company.CompanyDao">
<resultMap id="resultMapObj" type="com.a5a5lab.module.company.CompanyDto"></resultMap>

<sql id="selectCommon">
	FROM
		movingcompany
	WHERE 1=1
</sql>

<select id="selectOneCount">
	SELECT 
		count(*)
	<include refid="selectCommon"/>
</select>

<select id="selectList" resultMap="resultMapObj">
	SELECT
	  mcSeq,
	  mcTypeCd,
	  mcRegionCd,
	  mcName,
	  mcAddress,
	  mcTel,
	  mcServiceMemo,
	  partnerName,
	  dateOfPartnership,
	  mcBasicPrice,
	  mcBasicWorker,
	  mcBasicDistance,
	  mcMainVehicle,
	  addPriceWorker,
	  addPriceDistance,
	  ladderTruckNy,
	  mcDelNy
	<include refid="selectCommon"/>	
	ORDER BY mcSeq DESC	
	

</select>
<select id="selectOne" resultMap="resultMapObj">
	SELECT
	  mcSeq,
	  mcTypeCd,
	  mcRegionCd,
	  mcName,
	  mcAddress,
	  mcTel,
	  mcServiceMemo,
	  partnerName,
	  dateOfPartnership,
	  mcBasicPrice,
	  mcBasicWorker,
	  mcBasicDistance,
	  mcMainVehicle,
	  addPriceWorker,
	  addPriceDistance,
	  ladderTruckNy,
	  mcDelNy
	FROM
		movingcompany
	WHERE 1=1
		AND mcSeq=#{mcSeq}	
</select>
<update id="update">
	UPDATE movingcompany 
	SET
		  mcTypeCd =#{mcTypeCd},
		  mcRegionCd=#{mcRegionCd},
		  mcName =#{mcName},
		  mcAddress=#{mcAddress},
		  mcTel=#{mcTel},
		  partnerName=#{partnerName},
		  dateOfPartnership=#{dateOfPartnership},
		  mcBasicPrice=#{mcBasicPrice},
		  mcBasicWorker=#{mcBasicWorker},
		  mcBasicDistance=#{mcBasicDistance},
		  mcMainVehicle=#{mcMainVehicle},
		  addPriceWorker=#{addPriceWorker},
		  addPriceDistance=#{addPriceDistance},
		  ladderTruckNy=#{ladderTruckNy},
		  mcDelNy=#{mcDelNy}
		WHERE 1=1
			AND mcSeq=#{mcSeq}
</update>
<insert id="insert">
	INSERT INTO movingcompany(
	  mcTypeCd,
	  mcRegionCd,
	  mcName,
	  mcAddress,
	  mcTel,
	  mcServiceMemo,
	  partnerName,
	  dateOfPartnership,
	  mcBasicPrice,
	  mcBasicWorker,
	  mcBasicDistance,
	  mcMainVehicle,
	  addPriceWorker,
	  addPriceDistance,
	  ladderTruckNy,
	  mcDelNy
	)VALUES(
	  #{mcTypeCd},
	  #{mcRegionCd},
	  #{mcName},
	  #{mcAddress},
	  #{mcTel},
	  #{mcServiceMemo},
	  #{partnerName},
	  #{dateOfPartnership},
	  #{mcBasicPrice},
	  #{mcBasicWorker},
	  #{mcBasicDistance},
	  #{mcMainVehicle},
	  #{addPriceWorker},
	  #{addPriceDistance},
	  #{ladderTruckNy},
	  #{mcDelNy}
	)
</insert>




		


	  
</mapper>