<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a5a5lab.module.member.MemberDao">
<resultMap id="resultMapObj" type="com.a5a5lab.module.member.MemberDto"></resultMap>
<sql id="selectCommon">
	FROM
		user AS a
	left join code AS b ON a.genderCd =b.ifcdSeq 
	WHERE 1=1
        <if test="shDelNy != null and !shDelNy.equals('')">AND userDelNy = #{shDelNy}</if>
				
				<choose>
					<when test="shOptionDate == 1">AND userRegistrationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND userModificationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
				
		        <choose>
		            <when test="shOption == 1">AND userName LIKE CONCAT('%',#{shValue},'%')</when>
		            <when test="shOption == 2">AND userId LIKE CONCAT('%',#{shValue},'%')</when>
		            <when test="shOption == 3">AND userEmail LIKE CONCAT('%',#{shValue},'%')</when>
		            <when test="shOption == 4">AND userNickName LIKE CONCAT('%',#{shValue},'%')</when>
		        </choose>
</sql>
<select id="selectOneCount">
	SELECT 
		count(*)
	<include refid="selectCommon"/>
</select>
<select id="selectList" resultMap="resultMapObj">
	SELECT 
		userSeq,
		userName,
		genderCd,
		userBorn,
		telAgencyCd,
		userTel,
		userId,
		userPw,
		userEmail,
		userNickName,
		userAddress,
		userDelNy,
		userRegistrationDate,
		userModificationDate
	<include refid="selectCommon"/>
	ORDER BY userSeq DESC
	LIMIT #{startRnumForMysql},#{rowNumToShow}
</select>
<select id="selectOne" resultMap="resultMapObj">
	SELECT
		userSeq,
		userName,
		genderCd,
		userBorn,
		telAgencyCd,
		userTel,
		userId,
		userPw,
		userEmail,
		userNickName,
		userAddress,
		userDelNy
	FROM
		user
	WHERE 1=1
<!-- 		userSeq=#{userSeq} -->
	 <if test="userSeq != null and !userSeq.equals('')"> AND userSeq = #{userSeq}</if>
	 <if test="userId != null and !userId.equals('')"> AND userId = #{userId}</if>
	 <if test="userPw != null and !userPw.equals('')"> AND userPw = #{userPw}</if>
</select>
<insert id="insert">
	INSERT INTO user(
		userName,
		genderCd,
		userBorn,
		telAgencyCd,
		userTel,
		userId,
		userPw,
		userEmail,
		userNickName,
		userAddress,
		userDelNy
	)VALUES(
		#{userName},
		1,
		#{userBorn},
		1,
		#{userTel},
		#{userId},
		#{userPw},
		#{userEmail},
		#{userNickName},
		#{userAddress},
		0
	)
</insert>
<select id="codeList">
	select
		ifcdSeq,
		ifcdName,
	    codeGroup_ifcgSeq
	from
		code
</select>



		


	  
</mapper>