<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{user/include/head :: head}"></div>

<body class="body-wrapper">


<div th:replace="~{user/include/header :: header}"></div>

<section class="login py-5 border-top-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 align-item-center">
        <div class="border">
          <h3 class="bg-gray p-4">로그인</h3>
          <form action="#" class="needs-validation" novalidate>
            <fieldset class="p-4">
              <div class="mb-2">
                <input class="form-control mb-3" type="text" placeholder="아이디" required>
                <div class="invalid-feedback">
                  아이디를 입력해주세요.
                </div>
              </div>
              <input class="form-control mb-3" type="password" placeholder="비밀번호" required>
              <div class="invalid-feedback">
                비밀번호를 입력해주세요.
              </div>
              <div class="loggedin-forgot">
                <input type="checkbox" id="keep-me-logged-in">
                <label for="keep-me-logged-in" class="pt-3 pb-2">로그인 상태 유지</label>
              </div>
              <button type="submit" class="btn btn-primary font-weight-bold mt-3">로그인</button>
              <a class="mt-3 d-block text-primary" href="#!">비밀번호 찾기</a>
              <a class="mt-3 d-inline-block text-primary" href="register.html">회원가입</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div th:replace="~{user/include/footer :: footer}"></div>

<div th:replace="~{user/include/script :: script}"></div>

</body>

</html>