<!DOCTYPE html>


<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{user/include/head :: head}"></div>

<body class="body-wrapper">


<div th:replace="~{user/include/header :: header}"></div>

<section class="login py-5 border-top-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12 align-item-center">
        <div class="border border">
          <h3 class="bg-gray p-4">회원가입</h3>
          <form id="form" novalidate>
            <fieldset class="p-4">
              <div class="row">
                <div class="col-5">
                  <div class="mb-2">
                    <label><strong>이름</strong><span style="color: crimson;">*</span></label>
                    <input class="form-control mb-3" type="text" id="userName" name="userName">
                    <div class="invalid-feedback">
                      이름을 입력해주세요.
                    </div>
                  </div>
                </div>
               
                <div class="col-lg-3" style="align-content: end; margin-bottom: 28px; padding-left: 0px;">
                  <div class="form-check d-inline-flex">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" required>
                    <label class="form-check-label" for="inlineRadio1">남성</label>
                  </div>
                  <div class="form-check d-inline-flex">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option2" required>
                    <label class="form-check-label" for="inlineRadio1">여성</label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="mb-2">
                    <label><strong>생년월일</strong><span style="color: crimson;">*</span></label>
                    <input class="form-control  mb-3" type="text" id="userBorn" name="userBorn">
                    <div class="invalid-feedback">
                      생년월일을 입력해주세요.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                <div class="mb-2">
                    <label><strong>전화번호</strong><span style="color: crimson;">*</span></label>
                  <div class="row">
                  	<div class="col" style="display: flex;">
                  	<div style="flex: 1;" >
	                  <select class="nice-select form-select"  id="telAgencyCd" name="telAgencyCd" style="height: 50px; padding-right: 18px;">
	                    <option selected value="">통신사</option>
						<option th:each="list :${@codeService.selectListCachedCode(2)}" th:text="${list.ifcdName}" th:value="${list.ifcdSeq}"></option>
	                  </select>
	                    <div class="invalid-feedback" id="telAgencyCdError" style="white-space: nowrap; position: absolute;">
	                    통신사를 선택해주세요.
	                    </div>
                  	</div>
                  	<div style="flex: 2;">
	                    <input class="form-control mb-3" type="text" id="userTel" name="userTel">
	                    <div class="invalid-feedback" id="userTelError" >
	                     전화번호를 입력해주세요.
	                    </div>
                  	</div>
                  	</div>
                  </div>
                  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="mb-2">
                    <label><strong>아이디</strong><span style="color: crimson;">*</span></label>
                    <input class="form-control mb-3" type="text" id="userId" name="userId">
                    <div class="invalid-feedback" id="userIdError">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="mb-2">
                    <label><strong>비밀번호</strong><span style="color: crimson;">*</span></label>
                    <input class="form-control mb-3" type="password" id="userPw" name="userPw">
                    <div class="invalid-feedback">
                      비밀번호를 입력해주세요.
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="mb-2">
                    <label><strong>비밀번호 확인</strong></label>
                    <input class="form-control mb-3" type="password" id="pwCheck">
                    <div class="invalid-feedback">
                      비밀번호가 일치하지 않습니다.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="mb-2">
                    <label><strong>이메일</strong><span style="color: crimson;">*</span></label>
                    <input class="form-control mb-3" type="text" id="userEmail" name="userEmail">
                    <div class="invalid-feedback">
                      이메일을 입력해주세요.
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="mb-2">
                    <label><strong>닉네임</strong><span style="color: crimson;">*</span></label>
                    <input class="form-control mb-3" type="text" id="userNickName" name="userNickName">
                    <div class="invalid-feedback">
                      닉네임을 입력해주세요.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="mb-2">
                    <label><strong>주소</strong><span style="color: crimson;">*</span></label>
                    <input class="form-control mb-3" type="text" id="userAddress" name="userAddress">
                    <div class="invalid-feedback">
                      주소를 입력해주세요.
                    </div>
                  </div>
                </div>
<!--                 <div class="col-5"> -->
<!--                   <div class="mb-2"> -->
<!--                     <label><strong>상세주소</strong></label> -->
<!--                     <input class="form-control mb-3" type="text" placeholder="상세주소" required> -->
<!--                     <div class="invalid-feedback"> -->
<!--                       상세주소를 입력해주세요. -->
<!--                     </div> -->
<!--                   </div> -->
<!--                 </div> -->
              </div>

<!--               <div class="row"> -->
<!--                 <div class="col-5"> -->
<!--                   <div class="mb-2"> -->
<!--                     <label><strong>차종</strong><span style="color: crimson;"></span></label> -->
<!--                     <input class="form-control mb-3" type="text" placeholder="차종" required> -->
<!--                     <div class="invalid-feedback"> -->
<!--                       차종을 입력해주세요. -->
<!--                     </div> -->
<!--                   </div> -->
<!--                 </div> -->
<!--                 <div class="col"> -->
<!--                   <div class="form-check"> -->
<!--                     <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required> -->
<!--                     <label class="form-check-label" for="invalidCheck3"> -->
<!--                      자차여부 -->
<!--                     </label> -->
<!--                   </div> -->
<!--                 </div> -->
<!--               </div> -->
              <div class="loggedin-forgot" style="margin-left: 3%;">
                <input type="checkbox" id="registering" class="form-check-input" required>
                <label for="registering" class="form-check-label"><a class="text-primary font-weight-bold" href="terms-condition.html">이용약관</a>에 동의합니다.</label>
                <span class="invalid-feedback">이용약관을 읽어보시고 체크해주세요.</span>
              </div>
              <button type="button" id="btnSave" class="btn btn-primary font-weight-bold mt-3" style="float: right;">회원가입</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div th:replace="~{user/include/footer :: footer}"></div>

<!-- 
Essential Scripts
=====================================-->
<script src="/user/template/classimix/plugins/jquery/jquery.min.js"></script>
<script src="/user/template/classimix/plugins/bootstrap/popper.min.js"></script>
<script src="/user/template/classimix/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/user/template/classimix/plugins/bootstrap/bootstrap-slider.js"></script>
<script src="/user/template/classimix/plugins/tether/js/tether.min.js"></script>
<script src="/user/template/classimix/plugins/raty/jquery.raty-fa.js"></script>
<script src="/user/template/classimix/plugins/slick/slick.min.js"></script>
<script src="/user/template/classimix/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="plugins/google-map/map.js" defer></script>

<script src="/user/template/classimix/js/script.js"></script>


<script type="text/javascript">	
	document.getElementById("userId").onblur=function(){
		loginLogic();
	}
	
	document.getElementById("btnSave").onclick=function(){
		if(validation() == false) return false;

		document.getElementById("form").action="/registerInst";
		document.getElementById("form").submit();
	};
	

	
	function loginLogic (){
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			/* ,dataType:"json" */
			,url: "/registerProc"
			/* ,data : $("#formLogin").serialize() */
			,data : { "userId" : $("#userId").val()}
			,success: function(response) {
				if(response.rt =="success"){
				document.getElementById("userId").className='form-control is-invalid';
				document.getElementById("userIdError").innerText="중복되는 아이디가 있습니다";
				document.getElementById("userId").focus();
				} else{
					document.getElementById("userId").className='form-control';
					
				}
			}
		});
	}

function validation(){
	if(document.getElementById("userName").value ==""){
		document.getElementById("userName").className='form-control is-invalid';
		document.getElementById("userName").focus();
		return false;
	} else {
		document.getElementById("userName").className='form-control';
		if(document.getElementById("userBorn").value ==""){
			document.getElementById("userBorn").className='form-control is-invalid';
			document.getElementById("userBorn").focus();
			return false;
		} else{
			document.getElementById("userBorn").className='form-control';
			if(document.getElementById("telAgencyCd").value ==""){
				document.getElementById("telAgencyCd").className='form-control is-invalid';
				document.getElementById("telAgencyCdError").innerText="통신사를 선택해주세요.";
				document.getElementById("telAgencyCd").focus();
				return false;
			} else{
				document.getElementById("telAgencyCd").className='form-control';
				if(document.getElementById("userTel").value ==""){
					document.getElementById("userTel").className='form-control is-invalid';
					document.getElementById("userTel").focus();
					return false;
				} else{
					document.getElementById("userTel").className='form-control';
					if(document.getElementById("userId").value ==""){
						document.getElementById("userId").className='form-control is-invalid';
						document.getElementById("userIdError").innerText="아이디를 입력해주세요.";
						document.getElementById("userId").focus();
						return false;
					} else{
						document.getElementById("userId").className='form-control';
						if(document.getElementById("userPw").value ==""){
							document.getElementById("userPw").className='form-control is-invalid';
							document.getElementById("userPw").focus();
							return false;
						} else{
							document.getElementById("userPw").className='form-control';
							if(document.getElementById("userPw").value != document.getElementById("pwCheck").value){
								document.getElementById("pwCheck").className='form-control is-invalid';
								document.getElementById("pwCheck").focus();
								return false;
							} else{
								document.getElementById("pwCheck").className='form-control';
								if(document.getElementById("userEmail").value ==""){
									document.getElementById("userEmail").className='form-control is-invalid';
									document.getElementById("userEmail").focus();
									return false;
								} else{
									document.getElementById("userEmail").className='form-control';
									if(document.getElementById("userNickName").value ==""){
										document.getElementById("userNickName").className='form-control is-invalid';
										document.getElementById("userNickName").focus();
										return false;
									} else{
										document.getElementById("userNickName").className='form-control';
										if(document.getElementById("userAddress").value ==""){
											document.getElementById("userAddress").className='form-control is-invalid';
											document.getElementById("userAddress").focus();
											return false;
										} else{
											document.getElementById("userAddress").className='form-control';
										}
									}
								}
							} 
						}
					}
				}
			}
			
		}
	}
}
// 벨리데이션 끝

// function modal(){
// 	document.getElementById("basicModal").style.display='block';
// }
// document.getElementById("closeModal").onclick=function(){
// 	document.getElementById("basicModal").style.display='none';
// }
// document.getElementById("a").onclick=function(){
// 	document.getElementById("basicModal").style.display='none';

// }
</script>

</body>

</html>