<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{user/include/head :: head}"></div>

<body class="body-wrapper">


<div th:replace="~{user/include/header :: header}"></div>


<section class="user-profile section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div th:replace="~{user/include/sidebarMyPage :: sidebarMyPage}"></div>
          </div>
			<div class="col-lg-8">
				<!-- Edit Profile Welcome Text -->
				<div class="widget welcome-message">
					<h2>회원정보 수정</h2>
				</div>
				<!-- Edit Personal Info -->
				 <div class="row">
					<div class="col">
						<div class="widget personal-info">
							<h3 class="widget-header user">비밀번호 변경</h3>
							<form action="#" class="needs-validation" novalidate>
								<!-- Current Password -->
								<div class="form-group">
									<label for="current-password">현재 비밀번호</label>
									<input type="password" class="form-control" id="current-password" required>
									<div class="invalid-feedback">
										현재 비밀번호를 입력해주세요.
									</div>
								</div>
								<!-- New Password -->
								<div class="form-group">
									<label for="new-password">새로운 비밀번호</label>
									<input type="password" class="form-control" id="new-password" required>
									<div class="invalid-feedback">
										새 비밀번호를 입력해주세요.
									</div>
								</div>
								<!-- Confirm New Password -->
								<div class="form-group">
									<label for="confirm-password">비밀번호 확인</label>
									<input type="password" class="form-control" id="confirm-password" required>
									<div class="invalid-feedback">
										새 비밀번호를 입력해주세요.
									</div>
								</div>
								<!-- Submit Button -->
								<button class="btn btn-transparent">비밀번호 변경</button>
							</form>
						</div>
					</div>
				 </div>
			</div>
		</div>
	</div>
</section>

<div th:replace="~{user/include/footer :: footer}"></div>

<div th:replace="~{user/include/script :: script}"></div>

</body>

</html>